$dev_version : true;

$mainColor: #ffc400;
$secondaryTextColor: #626262;
$font_family : 'Palanquin',sans-serif;

@function hubl_var($var,$dev){
	@if $dev_version == false {
  		@return unquote('/*=={{ '+$var+' }}==*/');
	} @else {
		@return $dev;
	}
}


$variables : (
			  "$first_color": #608f3d, 			// 1 hubl("$first_color")
			  "$second_color": #4a4949,			// 2 hubl("$second_color")
			  "$cta_background": #608f3d,		// 3 hubl("$cta_background")
			  "$cta_color": #ffffff,			// 4 hubl("$cta_color")
			  "$cta_hover_background": #ffffff,	// 5 hubl("$cta_hover_background")
			  "$cta_hover_color": #608f3d,		// 6 hubl("$cta_hover_color")
			  "$main_font_color": #252525,		// 7 hubl("$main_font_color")
			  "$font": "Palanquin"				//   hubl("$font")
			  );

// $variables : (
// 			  "$first_color": #003da8, 			// 1 hubl("$first_color")
// 			  "$second_color": #d457f2,			// 2 hubl("$second_color")
// 			  "$cta_background": #08991c,		// 3 hubl("$cta_background")
// 			  "$cta_color": #ea7500,			// 4 hubl("$cta_color")
// 			  "$cta_hover_background": #09d3ac,	// 5 hubl("$cta_hover_background")
// 			  "$cta_hover_color": #500993,		// 6 hubl("$cta_hover_color")
// 			  "$main_font_color": fuchsia,		// 7 hubl("$main_font_color")
// 			  "$font": "Palanquin"				//   hubl("$font")
// 			  );
// Pętla dodająca zmienne 'habowe' //

@if $dev_version == false {
	@each $var-name, $var-value in $variables {
		/*== {% set #{$var_name} = "#{$var_value}" %} ==*/;
	}
}

// Metoda zmieniajace zmienne habowe na sass i odwrotnie, zależne od zmiennej dev_version //


@function hubl($var){
	@if $dev_version == false {
  		@return unquote('/*=={{ '+$var+' }}==*/');
	} @else {
		@return map-get($variables,$var);
	}
}

@function hubl_rgba($var,$alpha){
	@if $dev_version == false {
		@return unquote('/*==rgba({{ '+$var+'|convert_rgb }},'+$alpha+')==*/');
	} @else {
		@return rgba(map-get($variables,$var),$alpha);
	}
}