.prologix.home {

	.lead-section {
		padding-top: 70px;
		padding-bottom: 0;
	}

	.services {
		margin-top: 50px;
		padding-bottom: 0;

		.widget-type-widget_container > span > div {
			width: auto;
		}
	}


	.square-boxes-section {
		margin-top: 0;

		.hs_cos_wrapper_widget_container {
			flex-wrap: nowrap;
		}

		.hs_cos_wrapper_type_custom_widget {
			width: auto;

			&:first-child {

				&:before {
					display: block;
				    position: absolute;
				    content: "";
				    width: 50%;
				    height: 100%;
				    left: 0;
				    background: #65a74d;
				    z-index: 1;
				}

				.square-box {
					background: #65a74d;
				}
			}

			&:nth-child(2) {
				.square-box {
					background: #5c9746;
				}
			}

			&:last-child {

				&:before {
					display: block;
				    position: absolute;
				    content: "";
				    width: 50%;
				    height: 100%;
				    right: 0;
				    background: hubl("$first_color");
				    z-index: 1;
				}
			}

		}

		.square-box {
			border-radius: 0;
			z-index: 2;

			.mask {
				background-color: rgba(255, 255, 255, 0);
			}
		}

	}



	.featured-news-section {
		display: block;
		position: relative;
		width: 100%;
		float: left;
		margin-top: 40px;
		margin-bottom: 40px;

		.widget-type-header {

			h2 {
				text-align: center;
				margin-bottom: 60px;
			}
		}
	}
}



@media (max-width: 767px) {

	.prologix.home {

		.square-boxes-section {

			.container {
				padding: 0;
			}

			.hs_cos_wrapper_type_custom_widget {
				max-width: none;

				&:first-child {

					&:before {
						display: none;
					}
				}

				&:last-child {

					&:before {
						display: none;
					}
				}

			}

			.square-box {

				&__content {
					max-width: 400px;
					padding-left: 15px;
					padding-right: 15px;
				}
			}

		}
	}
}