.sodium-faq {
    counter-reset: li;
    ol {
        padding-left: 25px;
        li:before {
            color: hubl("$cta_background");
            counter-increment: li;
            content: counter(li) ".";
            position: absolute;
            width: 16px;
            background-position: center;
            left: -25px;
            top: 50%;
            display: block;
            font-size: 23px;
            transform: translateY(-50%);
            vertical-align: middle;
            height: 32px;
        }
    }
    .left {
    	margin-top: 5px;
    	margin-bottom: 10px;
    	p, ol, ul, li, a, span {
    		font-weight: 200;
    	}
        a.cta_button {
            @extend .cta-primary;
        }
    }
    .faq {
        padding-bottom: 55px;
    }
    .faq h2 {
        letter-spacing: 0.04em;
        color: hubl("$main_font_color");
        font-size: 40px;
        text-align: left;
        margin-top: 31px;
        text-transform: none;

        span {
        	color: hubl("$cta_background");
            letter-spacing: 3px;
        }
    }
    .faq p {
        font-size: 18px;
        color: hubl("$main_font_color");
        margin-top: 30px;
    }   
}
