/* GENERAL */
	
.flex-wrapper {
	position: relative;
	.row-fluid {
		display: flex;
	}
}

.lead-section {
	padding-top: 90px;
	padding-bottom: 90px;

	&--text-center h2, &--text-center p, &--text-center li, &--text-center .widget-type-header h2 {
		text-align: center;
	}
}

.features-section, .circles-section {
	padding-top: 30px;
	padding-bottom: 15px;
}

.widget-type-header {

	&--home {

		h2 {
			text-align: left;
			text-transform: none;
			font-weight: 300;

			span {
				color: hubl("$cta_background");
				letter-spacing: 3px;
			}
		}
	}

	&--centered {

		h1, h2 {
			text-align: center;
		}
	}
}





/* #SECTION-LEAD */

.lead-section {
	position: relative;
	float: left;
	width: 100%;

	.widget-type-rich_text, .widget-type-header {
		position: relative;
	}

	&__content {
		position: relative;
		z-index: 200;

		&--left {
			padding-right: 5%;
		}

		&--right {
			padding-left: 5%;
		}
	}

	&.background-figure {
		overflow: hidden;

		&:before {
			content: "";
			position: absolute;
			top: -200px;
			bottom: 0;
			left: 0;
			width: 0;
			height: 0;
			border-style: solid;
			border-width: 1500px 0 0 1000px;
			border-color: transparent transparent transparent hubl("$first_color");
		}
	}
}



/* #SECTION-FEATURES */

.features-section {
	position: relative;
	text-align: center;
	background-color: hubl("$first_color");
	background-repeat: no-repeat, no-repeat;
	background-position: 5% -15%, 95% 70%;
	float: left;
	width: 100%;

	.widget-type-header {

		&--home {

		 	h2 {
				color: #fff;
			}
		}
	}

	.widget-type-rich_text {

		p, a, li {
			color: #fff;
			text-align: center;
		}
	}

	&:before {
		content: "";
		position: absolute;
		transform: translateY(-100%);
		top: 0;
		right: 0;
		width: 0;
		height: 0;
		border-style: solid;
		border-width: 0 0 230px 630px;
		border-color: transparent transparent hubl("$first_color") transparent;
	}
}




/* #SECTION-CIRCLES */
	
.circles-section {
	position: relative;
	float: left;
	width: 100%;
	background-color: hubl("$first_color");

	.widget-type-header {

		&--home { 

	 		h2 {
				color: #fff;
				margin-bottom: 50px;
				span {
					letter-spacing: 3px;
				}
			}
		}
	}
}




/* #SECTION-CONTACT */

.home-contact-section {
	position: relative;
	width: 100%;
	float: left;
	padding-top: 30px;
	padding-bottom: 30px;
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;

	h3 {
		font-weight: 600;
		margin-top: 0;
		margin-bottom: 20px;
		text-transform: uppercase;
		color: #fff;
	}

	.transparent-box {
		width: 90%;
		margin: 0 auto;
		max-width: 1240px;
		border-radius: 10px;
		padding-bottom: 40px;
		padding-top: 40px;
		background-color: hubl("$second_color");
		opacity: .9;

		.widget-type-form form input.hs-button {
    		padding: 10px 50px;
    		border: 2px solid hubl("$cta_background");
		}
	}

	.widget-type-rich_text {

		margin-bottom: 30px;
		padding-bottom: 30px;
		border-bottom: 1px solid #fff;

		a, p, span {
			font-size: 20px;
			color: #fff;
			line-height: 2;
			font-weight: 200;
			margin: 0;
		}

		a[href^="tel:"] {
			color: #fff;

			&:hover {
				text-decoration: underline;
			}
		}
	}

	.last-row {

		.widget-type-rich_text {
			padding-bottom: 0;
			border-bottom: 0;
		}
	}

	.widget-type-form {

		.form-title {
			margin-top: 0;
			margin-bottom: 30px;
			font-size: 30px;
			font-weight: 600;
		}

		input, textarea {
			margin-top: 0;
			margin-bottom: 10px;
			font-size: 18px;
			color: #fff;
			font-weight: 200;

			&::-webkit-input-placeholder {
				color: #fff;
			}
		}

		textarea {
			min-height: 120px;
			resize: none;
		}

		.hs-error-msgs {

			a, label {
				font-size: 18px;
    			font-weight: 200;
    			color: #fff;
			}
		}
	}
}





/* RWD */
	

@media (max-width : 1200px) {
	.lead-section {

		&__content {

			&--left {
				padding-right: 30px;
			}

			&--right {
				padding-left: 30px;
			}
		}
	}
}



@media (max-width : 768px) {
	.flex-wrapper {
		.row-fluid {
			display: block;
		}
	}



	.lead-section {

		&.background-figure {

			&:before {
				display: none;
			}
		}

		&__content {

			width: 100% !important;

			&--left {
				padding-right: 0;
				margin-right: 0;
				margin-left: 0 !important;
			}

			&--right {
				padding-left: 0;
				margin-right: 0;
				margin-left: 0 !important;
			}
		}
	}



	.features-section {
		background-image: none !important;

		&:before {
			display: none;
		}
	}



	.home-contact-section {

		.widget-type-form {

			.actions {
				text-align: center;
			}
		}
	}

}
