.blog-email-subscription .subscription-arrow__container {
    right: -115px;
    @media (max-width: 992px) {
        display: none;
    }
}

.blog-email-subscription label {
    padding-top: 14px;
    padding-right: 10px;
    @media (max-width: 600px) {
        margin-bottom: 10px;
    }
}

.pricing {
    form.hs-form .inputs-list {
        width: 100%;
    }
    .pricing-section-header {
        text-align: center;
        h2 {
            color: hubl("$main_font_color");
            font-weight: 300;
            font-size: 40px;
            text-transform: none;
            margin-top: 50px;
            span {
                letter-spacing: 3px;
            }
        }
        .widget-type-rich_text > .layout-widget-wrapper > span {
            color: hubl("$main_font_color");
        }
    }
    &.pricing-1,
    &.pricing-2 {
        .pricing-main-section {
            background: #fff url('//cdn2.hubspot.net/hubfs/685080/IMG-TurboSodium/Sodium%20v2/pricing-container-background.png') center bottom no-repeat;
        }
    }
    .pricing-box {
        border: 2px solid #ebebeb;
        padding: 0 10px;
    }
    .pricing-box__title {
        border-bottom: 1px solid #ebebeb;
    }
    .pricing-box__feature-text {
        border-bottom: 1px solid #ebebeb;
        position: relative;
        text-align: left;
        font-size: 16px;
        span {
            top: 10px;
            left: 25px;
            color: #000;
        }
        span:before {
            content: "\f067";
            font-size: 12px;
            color: #548a40;
            font-family: FontAwesome;
            padding-left: 10px;
            padding-right: 5px;
        }
    }
    .pricing-box.highlight {
        .pricing-box__feature-text {
            border-bottom: 1px solid #ebebeb;
            position: relative;
            text-align: left;
            width: 90%;
            span {
                color: #000;
            }
            span:before {
                content: "\f067";
                font-size: 12px;
                color: #fff;
                font-family: FontAwesome;
                padding-left: 2px;
                padding-right: 5px;
            }
        }
    }
}

.pricing-1 {
    .pricing-box.highlight {
        transform: scale(1);
    }
}

.pricing .pricing-section-header h2 {
    margin-top: 25px;
}

.pricing-box__container .widget-span .hs_cos_wrapper_widget_container {
    padding: 100px 0;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    @media (max-width: 1060px) {
        padding: 60px 50px 20px;
    }
    @media (max-width: 767px) {
        padding: 60px 0 20px;
    }
    .hs_cos_wrapper {
        flex-basis: 265px;
        @media (max-width: 1060px) {
            flex-basis: 50%;
            margin-bottom: 50px;
            flex: 0 0 auto;
        }
        .pricing-box {
            margin: 0 auto;
            width: 265px;
        }
    }
}

.services {
    margin: 0;
    padding-bottom: 300px;
    @media (max-width: 992px) {
        padding-bottom: 200px;
    }
    .widget-type-widget_container {
        > span {
            display: flex;
            justify-content: center;
            align-items: center;
            flex-wrap: wrap;
            padding-top: 80px;
            border-top: 1px solid #ebebeb;
            @media (max-width: 992px) {
                padding-top: 50px;
            }
            > div {
                display: flex;
                width: 33.30%;
                // padding: 0 30px;
                // flex: 1 0 auto;
                @media (max-width: 992px) {
                    width: 50%;
                    padding: 0 15px;
                }
                @media (max-width: 767px) {
                    width: 100%;
                    padding: 0 20px;
                }
                .feature-image {}
                h3 {
                    color: #252525;
                    font-size: 24px;
                    font-weight: 500;
                    text-transform: uppercase;
                    line-height: 24px;
                }
                .desc {
                    @media (max-width: 992px) {
                        margin-bottom: 55px;
                    }
                    span {
                        font-size: 16px;
                        line-height: 24px;
                    }
                }
            }
        }
    }
    &.services-horizontal {
        .widget-type-widget_container {
            >span {
                align-items: stretch;
                >div {
                    display: block;
                    width: 50%;
                    // padding: 0 30px;
                    // flex: 1 0 auto;
                    @media (max-width: 992px) {
                        width: 50%;
                        padding: 0 15px;
                    }
                    @media (max-width: 767px) {
                        width: 100%;
                        padding: 0 20px;
                    }
                }
            }
        }
    }
}

#questions_section {
    padding: 70px 0 85px;
    @media (max-width: 767px) {
        padding: 50px 0 65px;
    }
    .widget-span {
        // float: none;
        float: none;
        .widget-type-header {
            padding-bottom: 75px;
            @media (max-width: 767px) {
                padding-bottom: 30px;
            }
            h2 {
                font-size: 36px;
                line-height: 36px;
                text-transform: none;
                margin: 0;
            }
        }
        .questions-inner {
            .row-fluid {
                display: flex;
                // justify-content: center;
                // align-items: center;
                flex-wrap: wrap;
                .widget-type-cell {
                    width: 33.20%;
                    margin: 0;
                    padding: 0 10px;
                    @media (max-width: 767px) {
                        width: 100%;
                    }
                    .widget-type-header {
                        padding-bottom: 35px;
                        @media (max-width: 767px) {
                            padding: 40px 0 15px;
                        }
                        h3 {
                            margin: 0;
                            font-size: 24px;
                            line-height: 24px;
                        }
                    }
                    h5 {
                        margin: 0;
                    }
                    p {
                        font-size: 18px;
                        line-height: 24px;
                        padding: 0;
                        padding-bottom: 30px;
                        margin: 0;
                        @media (max-width: 767px) {
                            padding-bottom: 15px;
                        }
                    }
                    p:last-child {
                        padding-bottom: 0;
                    }
                }
            }
        }
    }
}
