.pricing-3 {
	.pricing-main-section {
		//background: white url('//cdn2.hubspot.net/hubfs/685080/IMG-TurboSodium/Sodium%20v2/pricing/pricing-3-bg.png') right bottom no-repeat;
		position: relative;
		&:before {
		    content: "";
		    position: absolute;
		    bottom: 0;
		    right: 0;
		    width: 0;
		    height: 0;
		    border-style: solid;
		    border-width: 0 0 400px 1200px;
		    border-color: transparent transparent hubl("$first_color") transparent;
		}
		.pricing-wrapper {
			margin-top: 70px;
				.pricing-box__container {
					.widget-span {
						.hs_cos_wrapper_widget_container {
							 padding: 40px 0 70px 0;
						}
					}
				
				.pricing-box {
					background-color: #fff;
					box-shadow: 3px 3px 3px rgba(0,0,0,0.1);
					border-radius: 3px;
					border: 1px solid #f8f8f8;
					position: relative;
					&__title {
						border-bottom: 1px solid #f8f8f8;
						color: hubl("$main_font_color");
						font-weight: 400;
					}
					&__feature-text {
						border-bottom: 1px solid #f8f8f8;
					}
					&.highlight {
						.pricing-box__title {
							border-bottom: 1px solid #f8f8f8;
							color: hubl("$main_font_color");
							font-weight: 400;
						}
						.pricing-box__feature-text {
							border-bottom: 1px solid #f8f8f8;
							color: hubl("$main_font_color");
							.pricing-box__feature-text--bold {
								color: hubl("$first_color");
							}
						}
						.pricing-box__starting-at {
							color: hubl("$main_font_color");
							.pricing-box__price {
								color: hubl("$first_color");
							}
						}
						.pricing-box__order {
							color: hubl("$cta_color");
							background-color: hubl("$cta_background");
							border: 2px solid hubl("$cta_background");
							&:hover {
								color: hubl("$cta_hover_color");
								background-color: hubl("$cta_hover_background");
								border-color: hubl("$cta_background");
							}
						}
					}
					.ribbon {
					  position: absolute;
					  right: -5px; top: -5px;
					  z-index: 1;
					  overflow: hidden;
					  width: 130px; 
					  height: 130px;
					  text-align: right;
					}
					.ribbon span {
					  font-size: 14px;
					  font-weight: bold;
					  color: #FFF;
					  text-transform: uppercase;
					  text-align: center;
					  line-height: 24px;
					  transform: rotate(45deg);
					  -webkit-transform: rotate(45deg);
					  width: 145px;
					  display: block;
					  background: #79A70A;
					  background: linear-gradient(hubl("$first_color") 0%, hubl("$first_color") 100%);
					  box-shadow: 0 3px 10px -5px rgba(0, 0, 0, 1);
					  position: absolute;
					  top: 31px; 
					  right: -31px;
					}
					.ribbon span::before {
					  content: "";
					  position: absolute; left: 0px; top: 100%;
					  z-index: -1;
					  border-left: 3px solid hubl("$first_color");
					  border-right: 3px solid transparent;
					  border-bottom: 3px solid transparent;
					  border-top: 3px solid hubl("$first_color");
					}
					.ribbon span::after {
					  content: "";
					  position: absolute; right: 0px; top: 100%;
					  z-index: -1;
					  border-left: 3px solid transparent;
					  border-right: 3px solid hubl("$first_color");
					  border-bottom: 3px solid transparent;
					  border-top: 3px solid hubl("$first_color");
					}
				}
			}
			.pricing-left-text {
				//min-width: 30%;
				h3 {
					color: hubl("$main_font_color");
					font-size: 31px;
					letter-spacing: 2px;
				}
				ul {
					padding-left: 28px;
					li:before {
						content: "\f00c";
						width: 16px;
						height: 16px;
						font-family: FontAwesome;
						color: hubl("$cta_background");
						background-image: none;
					}
				}
				.cta-primary {
					border-color: #fff;
					&:hover {
						border-color: hubl("$cta_background");
					}
				}
			}
		}
	}
}