/*.hero-banner--big {
	height: 700px;
	font-weight: 300;
	position: relative;
	margin-bottom: 0;
	h2 {
		font-weight: 500;
	}
	@media screen and (max-width: 400px) {
		height: calc(100vh - 70px);
		h2 {
			font-size: 51px;
		}
		p {
			text-align: center;
		}
	}
} */

//--------------SLICK RESOURCES STYLES-------------
.resources-slides-wrapper {
	margin-top: 70px;
	height: 500px;
	overflow: hidden;
	.slick-slider {
		margin-bottom: 0;
	}
	button.slick-next, button.slick-prev {
		margin-top: 0;
	}
}

//--------------RESOURCES PAGE STYLES-------------
.resources {
	.separator--yellow {
		.widget-type-cta {
			.cta_button {
				float: right;
			}
		}
	}
	.separator--contact {
		.widget-type-cta {
			text-align: center;
			.cta_button {
				margin: 0 auto;
			}
		}
	}
}