html {
  body {
    .subscription-pages {
      .page-header {
        margin-bottom: 60px;
      }
      .brands-slider__section {
        background: rgb(230,230,230);
      }
    }
    .row-fluid {
      .subscription-pages {
        // margin: 160px 0 150px;
      }
      // .subscription-preferences {
      //   margin: 120px 0 150px;
      // }
      .backup-unsubscribe {
        margin: 100px 0 150px;
      }
      .subscriptions-update {
        margin: 200px 0 150px;
      }
    }
  }
}
html body .page-header {
  padding-left: 8px;
}


// .subscription-preferences {
//   .email-prefs .item .item-inner p {
//     text-align: left;
//   }
//   &.widget-type-email_subscriptions h1 {
//     font-size: 42px;
//     line-height: 50px;
//     // color: #626262;
//     font-weight: 600;
//     margin-bottom: 15px;
//     text-transform: initial;
//     letter-spacing: 0.04em;
//     color: #608f3d;
//     text-align: left;
//     margin-bottom: 30px;
//   }
//   &.widget-type-email_subscriptions h2 {
//     font-size: 22px;
//     line-height: 25px;
//     // color: #626262;
//     font-weight: 300;
//     margin: 0;
//     text-align: left;
//   }
//   &.widget-type-email_subscriptions p {
//     text-align: left;
//     font-size: 16px;
//     line-height: 25px;
//     // color: #626262;
//     font-weight: 300;
//     margin-bottom: 0;
//     text-align: left;
//   }
//   &.widget-type-email_subscriptions p.header {
//     font-weight: 500;
//     font-size: 20px;
//     line-height: 24px;
//     color: #608f3d;
//   }
//   .subscribe-options {
//     margin-top: 30px;
//     .header {
//       margin-bottom: 20px;
//     }
//   }
//   .subscribe-options label {
//     padding-top: 15px;
//     margin-left: 7px;
//   }
//   .email-prefs {
//     // display: none;
//     .item:first-child {
//       margin-top: 0;
//     }
//   }
//   .item {
//     .fakelabel {
//       input {
//         top: 6px;
//       }
//     }
//   }
//   #submitbutton {
//     background-color: #608f3d;
//     border: 2px solid #608f3d;
//     color: #ffffff;
//     font-size: 18px;
//     font-weight: normal;
//     text-transform: uppercase;
//     text-align: center;
//     text-decoration: none;
//     padding: 10px 20px;
//     -webkit-border-radius: 3px;
//     -moz-border-radius: 3px;
//     border-radius: 3px;
//     cursor: pointer;
//     margin-top: 30px;
//     -webkit-appearance: none;
//     -webkit-transition: all .3s linear;
//     -o-transition: all .3s linear;
//     -moz-transition: all .3s linear;
//     transition: all .3s linear;
//     display: block;
//     margin: 50px 0 0;
//   }
//   #submitbutton:hover {
//     background-color: #ffffff;
//     border: 2px solid #608f3d;
//     color: #608f3d;
//     -webkit-appearance: none;
//   }
//   #submitbutton:active {
//     outline: none;
//     text-decoration: none;
//     -webkit-transition: all 0.3s linear;
//     -o-transition: all 0.3s linear;
//     -moz-transition: all 0.3s linear;
//     transition: all 0.3s linear;
//   }
// }

.backup-unsubscribe {
  text-align: center;
  .subscription-pages {
    .page-header {
      margin-bottom: 0;
    }
  }
  &.widget-type-email_subscriptions h3 {
    font-size: 42px;
    // color: #626262;
    font-weight: 600;
    margin-bottom: 15px;
    text-transform: initial;
    letter-spacing: 0.04em;
    color: #608f3d;
  }
  #submitbutton {
    display: block;
    background-color: #608f3d;
    border: 2px solid #608f3d;
    color: #ffffff;
    font-size: 18px;
    font-weight: normal;
    text-transform: uppercase;
    text-align: center;
    text-decoration: none;
    padding: 10px 20px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    cursor: pointer;
    margin-top: 30px;
    -webkit-appearance: none;
    -webkit-transition: all .3s linear;
    -o-transition: all .3s linear;
    -moz-transition: all .3s linear;
    transition: all .3s linear;
    margin: 50px auto 0;
  }
  #submitbutton:hover {
    background-color: #ffffff;
    border: 2px solid #608f3d;
    color: #608f3d;
    -webkit-appearance: none;
  }
  #submitbutton:active {
    outline: none;
    text-decoration: none;
    -webkit-transition: all 0.3s linear;
    -o-transition: all 0.3s linear;
    -moz-transition: all 0.3s linear;
    transition: all 0.3s linear;
  }
}

.subscriptions-update.widget-type-email_subscriptions_confirmation {
  text-align: center;
  .page-header h2 {
    font-size: 36px;
    font-weight: 600;
    margin-bottom: 15px;
    text-transform: initial;
    letter-spacing: 0.04em;
    color: #608f3d;
  }
  p {
    font-size: 18px;
    margin: 0px;
    padding: 0px;
    outline: none;
    font-size: 18px;
    font-weight: 200;
    font-family: Palanquin;
  }
  #content {
    font-size: 20px;
  }
}

// custom checkbox and all style for Communication Preferences
.subscription-preferences {
  background-color: #fbfbfb;
  font-family: Palanquin;
  .main-content {
    margin: 120px 0px 80px;
    form {
      h1 {
        font-size: 42px;
        color: #2b2a2b;
        font-weight: 500;
        text-align: left;
        margin-bottom: 33px;
        text-transform: initial;
        letter-spacing: 0.04em;
        line-height: 48px;
        text-transform: none!important;
        color: #608f3d;
      }
      h2 {
        font-size: 22px;
        color: #2b2a2b;
        font-weight: 500;
        text-align: left;
        margin-bottom: 33px;
        text-transform: none!important;
        letter-spacing: 0.04em;
        margin-bottom: 0;
      }
      p {
        text-align: left;
        font-size: 16px;
        line-height: 25px;
        color: #626262;
        font-weight: 300;
        margin-bottom: 0;
        padding-top: 0;
      }
      input[type="checkbox"] {
        height: 25px;
        visibility: hidden;
        +span {
          padding-left: 25px;
          margin-left: 0px;
          position: relative;
          padding-bottom: 4px;
          &:before {
            content: "";
            position: absolute;
            top: 50%;
            left: -1px;
            display: block;
            width: 14px;
            height: 14px;
            font-family: "FontAwesome";
            //background-color: red;
            transform: translateY(-50%);
            border-radius: 5px;
          }
          &:after {
            content: "\f096";
            position: absolute;
            top: 50%;
            left: 0px;
            display: block;
            color: #e0e0e0;
            width: 24px;
            height: 24px;
            font-family: "FontAwesome";
            transform: translateY(-50%);
            font-size: 18px;
          }
        }
        &:checked {
          +span {
            &:after {
              content: "\f14a";
              color: #608f3d;
            }
          }
        }
      }
      span {
        font-family: Palanquin;
        font-weight: 400;
      }
      input[type="submit"] {
        cursor: pointer;
        display: inline-block;
        text-transform: uppercase;
        border-radius: 5px;
        font-size: 18px;
        border: solid 2px #fff;
        color: #fff;
        padding: 15px 20px;
        text-decoration: none;
        text-align: center;
        background-color: #608f3d;
        border-color: #608f3d;
        color: #fff;
        transition: all 0.3s linear;
        &:hover {
          background: #fff;
          color: #608f3d;
        }
      }
    }
    .email-prefs {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      margin: 20px 0;
      .header {
        width: 100%;
      }
      .item {
        flex-basis: 49%;
        margin: 10px 0;
        height: 100%;
        @media (max-width: 767px) {
          flex-basis: 100%;
        }
        .item-inner {
          background: #fff;
          .item-inner.selected {
            background: #f7f7f7;
          }
        }
      }
      .item.disabled {
        .fakelabel {
          span:after {
            content: "\f096";
            color: #e0e0e0;
          }
        }
      }
      .subscribe-options {
        width: 100%;
        margin-top: 40px;
      }
    }
    .subscribe-options {
      label {
        margin-left: 6px;
        input[type="checkbox"] {
          height: 25px;
          visibility: hidden;
          display: none;
          +span {
            padding-left: 25px;
            margin-left: 0px;
            position: relative;
            &:before {
              content: "";
              position: absolute;
              top: 50%;
              left: -1px;
              display: block;
              width: 14px;
              height: 14px;
              font-family: "FontAwesome";
              //background-color: red;
              transform: translateY(-50%);
              border-radius: 5px;
            }
            &:after {
              content: "\f096";
              position: absolute;
              top: 50%;
              left: 0px;
              display: block;
              color: #e0e0e0;
              width: 24px;
              height: 24px;
              font-family: "FontAwesome";
              transform: translateY(-50%);
              font-size: 18px;
            }
          }
          &:checked {
            +span {
              &:after {
                content: "\f14a";
                color: #608f3d;
              }
            }
          }
        }
      }
    }
  }
}
