
.content-landing-event-clock{
        // RICH TEXT
        .widget-type-rich_text{
            padding-right: 50px;
            @media only screen and (max-width : 768px) {
                padding-right: 0px;
            }
            .hs_cos_wrapper{

                h1{
                    color:hubl("$main_font_color");
                    font-size: 50px;
                    font-weight: 900;
                    line-height: 65px;
                    letter-spacing: 0.04em;
                    span{
                        color: hubl("$cta_background");
                        letter-spacing: 3px;
                    }
                }
                p{
                    padding-top: 30px;
                    font-weight: 200;

                }
            }
        }
              // FORM
        .form-landing-event-clock{
            max-width:431px;
            min-height: 483px;
            background-color: #FFF;
            border-radius: 10px;
            box-shadow: 0px 1px 5px 0px rgba(0,0,0,0.1);
            padding: 30px;
            position: relative;
            top: -140px;
            @media only screen and (max-width : 768px) {
                max-width:100%;
                top:10px;
                box-shadow: none;
                padding: 15px;
            }
            h3{
                color: hubl("$main_font_color");
                margin:0;
                padding: 0;
                font-size: 30px;
                text-align: center;
                letter-spacing: 1px;
                padding-bottom: 20px;
                letter-spacing: 0.04em;
                span{
                    color: hubl("$cta_background");
                    letter-spacing: 3px;
                }
            }
            span.hs_cos_wrapper_type_form{
                //text-align: center;
                color: hubl("$main_font_color");
                display: block;
                margin: 0 auto;
                font-size: 36px;
            }
            form{
                background-color: #FFF;
                .input{
                    input{
                        border: 1px solid #d3d3d3;
                        border-radius: 5px;
                        margin:0;
                        margin-top: 6px;
                        height: 51px;
                        width: 100%;
                        color: hubl("$main_font_color");
                        padding-left: 15px;
                        &:focus{
                            border: 1px solid hubl("$cta_background");
                        }
                    }
                }
                textarea {
                    border: solid 1px #d6d5d5;
                    margin-top: 8px;
                    color: hubl("$main_font_color");
                    &:focus{
                            border: 1px solid hubl("$cta_background");
                        }
                }
                .input input[type="checkbox"].hs-input {
                    height: 25px;
                    visibility: hidden;
                    position: absolute;
                    &+span{
                        padding-left: 20px;
                    }

                }
                select{
                    background-color: #fff;
                    outline: 0;
                    font-size: 16px;
                    font-weight: 300;
                    border: solid 1px  #d3d3d3;
                    border-radius: 5px;
                    color: hubl("$main_font_color");
                    margin-top: 19px !important;
                    font-family: Palanquin, sans-serif;
                    -webkit-appearance: none;
                    -moz-appearance: none;
                    appearance: none;
                    margin-top: 0px;
                    background-image: url('//cdn2.hubspot.net/hubfs/685080/IMG-TurboSodium/Sodium%20v2/angle-down-gray.png');
                    background-repeat: no-repeat;
                    background-position-x: 98%;
                    background-position-y: 56%;
                    width: 100%;
                    height: 51px;
                    &:focus{
                            border: 1px solid hubl("$cta_background");
                        }
                }
                ul{
                    padding-top: 0;
                    margin: 0;
                    li,a{
                        color: #d3d3d3;
                        font-size: 16px;
                    }
                }
               label span{
                    color: hubl("$main_font_color");
               }
               .hs_submit{
                    input[type="submit"]{
                    width: 100%;
                    border: solid 2px hubl("$cta_background");
                    margin: 0;
                    height: 57px;
                    text-transform: none;
                    margin-top: 25px;
                    &:hover{

                        background-color: hubl("$cta_hover_background");
                        color: hubl("$cta_hover_color");
                    }
                    }
                }

            }
    }
}
// FEATURED BOX
.featured-box-white-bg{
    margin-top: -70px;
    border-top: solid 1px #f7f7f7;
    padding: 40px 0;
    @media only screen and (max-width : 768px) {
                margin-top: 80px;
    }
    span{
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        .square-box{
            background-color: #fff;
            max-width: 380px;
            &__image-container{
                background-color: hubl("$first_color");
                text-align: center;
                width: 102px;
                height: 102px;
                border-radius: 50%;
                margin: 0 auto;
                position: relative;
                img{
                    position: absolute;
                    top:50%;
                    left:50%;
                    transform: translate(-50%,-50%);

                }
                .icon{
                    color: #fff;
                    font-size: 60px;
                    line-height: 100px;
                }
            }
            &__content{
                text-align: center;
                h4{
                    color: hubl("$first_color");
                    text-transform: uppercase;
                    font-size: 24px;
                    padding-top: 20px;
                    font-weight: 300;
                }
                p{
                    color: hubl("$main_font_color");
                    font-size: 18px;
                }
            }
        }
    }
}

// EVENT SPONSORS
.landing-event-sponsors {
    margin-bottom: 80px;
    .widget-type-rich_text{
        h2{
            color:#FFF;
            font-size: 40px;
            text-align: center;
            margin-top:80px;
            font-weight: 200;
            span {
                letter-spacing: 2px;
            }
        }
        p {
            color:#FFF;
            padding-top: 20px;
            font-weight: 200;
            display: block;
            text-align: center;
            width: 60%;
            margin: 0 auto;
        }
    }
    // SLICK CENTER < SLIDE TO SHOW
    .slick-dots{
        display: block;
        // left: 50%;
        // -webkit-transform: translateX(-50%);
        // -ms-transform: translateX(-50%);
        // transform: translateX(-50%);
        left:0;

    }

    .slick-list{
        min-width: 100% !important;
        display:flex;
        justify-content:center;
        margin: 0!important;

    }
    .slick-arrow{
        display:none!important;
    }
    button.slick-prev.slick-arrow + div.slick-list{
        display:block;
    }
}

// EVENTS BLOG
.blog-events-container {
    > .container {
        > div {
            float: none;
            // text-align: center;
            h4 {
                font-size: 40px;
                margin: 0px 0 50px;
                text-align: center;
                @media (max-width: 767px) {
                    margin: 0 0 30px;
                }
                span {
                    letter-spacing: 2px;
                }
            }
            .blog-events-inner {
                margin-bottom: 85px;
                padding: 0 10px;
                display: flex;
                justify-content: space-between;
                flex-wrap: wrap;
                @media (max-width: 1060px) {
                    margin-bottom: 55px;
                    // padding: 60px 50px 20px;
                }
                @media (max-width: 767px) {
                    margin-bottom: 35px;
                    // padding: 60px 0 20px;
                }
                .blog-events-single {
                    flex-basis: 32%;
                    color: #252525;
                    @media (max-width: 1060px) {
                        flex-basis: 48%;
                        margin-bottom: 50px;
                        // flex: 0 0 auto;
                    }
                    @media (max-width: 767px) {
                        flex-basis: 100%;
                        margin-bottom: 50px;
                        // flex: 0 0 auto;
                    }
                    img {
                        width: 100%;
                    }
                    h5 {
                        font-size: 23px;
                        line-height: 28px;
                        margin: 0;
                        margin: 25px 0 15px;
                        font-weight: 500;
                    }
                    p {
                        margin: 0;
                        font-size: 18px;
                        line-height: 24px;
                        margin-bottom: 35px;
                    }
                    a {
                        display: inline-block;
                        background-color: #608f3d;
                        border: 2px solid #608f3d;
                        color: #ffffff;
                        font-size: 18px;
                        font-weight: normal;
                        text-transform: uppercase;
                        text-align: center;
                        text-decoration: none;
                        padding: 10px 20px;
                        -webkit-border-radius: 3px;
                        -moz-border-radius: 3px;
                        border-radius: 3px;
                        cursor: pointer;
                        -webkit-appearance: none;
                        transition: all .3s linear;
                    }
                    a:hover {
                        background-color: #ffffff;
                        border: 2px solid #608f3d;
                        color: #608f3d;
                        -webkit-appearance: none;
                    }
                }
            }
        }
    }
}

// UPCOMING EVENTS SECTION
.upcoming-events-bg {
    background: #f4f4f4;
    padding: 80px 0 90px;
    .actual-date-active {
        margin-bottom: 23px;
        span {
            font-size: 23px;
            line-height: 25px;
        }
    }
    .listing-blog {
        .topic-listing {
            margin: 30px 0 60px;
            width: 100%;
            display: flex;
            align-items: flex-end;
            justify-content: center;
            flex-wrap: wrap;
        }
        .filter-single {
            margin-top: 20px;
            width: 142px;
            position: relative;
            border-bottom: 1px solid #e1e1e1;
            transition: 1s;
            img {
                opacity: 0.5;
                display: block;
                margin: 0 auto;
                transition: 0.3s;
                // height: 40px;
            }
            span {
                margin: 12px 0 9px;
                font-size: 16px;
                text-transform: uppercase;
                color: #e1e1e1;
                text-align: center;
                display: block;
                transition: 0.3s;
            }
            &.active {
                border-bottom: 1px solid #608f3d;
                &:before {
                    font-size: 25px;
                    position: absolute;
                    bottom: -16px;
                    left: 50%;
                    transform: translateX(-50%);
                    content: "•";
                    color: #608f3d;
                }
                img {
                    opacity: 1;
                }
                span {
                    color: $secondaryTextColor;
                }
            }
            &:hover {
                border-bottom: 1px solid #608f3d;
                img {
                    opacity: 1;
                }
                span {
                    color: $secondaryTextColor;
                }
            }
        }
    }
    .container {
        > div {
            float: none;
            h2 {
                margin: 0;
                line-height: 36px;
                text-align: center;
                margin-bottom: 50px;
                span {
                    letter-spacing: 2px;
                }
            }

            .event-module {
                // li {
                //     list-style: none;
                //     padding: 0;

                .calendar-month-group {
                    display: inline-block;
                    margin: 30px 0 20px;
                    font-weight: 500;
                }

                .event-date-link {
                    color: hubl("$main_font_color");
                }

                    .event-date-container {
                        padding: 8px 0;
                        background: #fff;
                        width: 100%;
                        margin-bottom: 5px;
                        border: 1px solid #ebebeb;
                        cursor: pointer;
                        transition: all 0.5s ease;
                        .event-date-part {
                            display: inline-block;
                            padding: 30px 0;
                            border-right: 1px solid #dfdfdf;
                            width: 33%;
                            text-align: center;
                            @media (max-width: 992px) {
                                width: 100%;
                                padding: 10px 0;
                            }
                            p {
                                display: block;
                                font-weight: 500;
                                margin: 0;
                                text-align: center;
                                span {
                                    font-weight: 300;
                                }
                            }
                            .event-date {
                            }
                            .event-name {
                                color: #548a40;
                            }
                            .event-speaker {
                            }
                            .event-venue {
                                margin-left: 40px;
                            }

                        }
                        .event-date-part:first-child {
                            width: 14%;
                            @media (max-width: 992px) {
                                width: 100%;
                            }
                        }
                        .event-date-part:last-child {
                            width: 52%;
                            border-right: none;
                            @media (max-width: 992px) {
                                width: 100%;
                            }
                        }
                    }
                    .event-date-container:hover {
                        box-shadow: 0px 0px 10px 2px rgba(0,0,0,0.1);
                        .event-date-part {
                            p {
                                // font-weight: 300;
                            }
                        }
                    }
                // }
            }
        }
    }
}


// PAST EVENT GALLERY
.past-event-gallery{
    .gallery-button-more {
        margin: 20px 0 90px;
        text-align: center;
        > div {
            float: none;
            .cta_button {
                width: 100%;
                max-width: 200px;
                // height: 55px;
                padding: 12px 0;
            }
        }
    }
    .widget-type-rich_text{

        .hs_cos_wrapper{
            text-align: center;
            h2{
                color:hubl("$main_font_color");
                font-size: 40px;
                font-weight: 200;
                text-align: center;
                margin-top: 84px;
                span{
                    color: hubl("$cta_background");
                    letter-spacing: 2px;
                }
            }
            p{
                display: block;
                text-align: center;
                width: 60%;
                padding: 0;
                margin: 50px auto;
                font-weight: 200;
            }
        }
    }
}

