.blog-feed-box-wrapper {

	display: flex;
	flex-wrap: wrap;

	& > a {
		position: relative;
		display: block;
		width: 23%;
		max-width: 360px;
		margin: 0 auto 40px;
		padding-bottom: 10px;
		text-decoration: none;
		color: hubl("$main_font_color");
		background-color: #ebebeb;
		transition: all .3 linear;

		&:first-of-type {
			margin-left: 0;
		}

		&:last-of-type {
			margin-right: 0;
		}

		&:hover {
			box-shadow: 0 0 5px 2px hubl_rgba('$second_color', .3);
		}
	}

	.blog-feed-box {

		&__background {
			width: 100%;
			height: 150px;
			background-repeat: no-repeat;
			background-size: cover;
			background-position: center;
		}

		&__content-wrapper {
			padding: 10px;
		}

		&__info {
			font-size: 14px;
			margin-top: 0;
			margin-bottom: 5px;
		}

		&__body {
			font-size: 16px;
			margin-top: 0;
			margin-bottom: 20px;
		}

		&__arrow {
			position: absolute;
			right: 10px;
			bottom: 10px;
		}
	}
}



@media (max-width: 991px) {
	.blog-feed-box-wrapper {

		& > a {
			width: 46%;

			&:first-of-type {
				margin-left: auto;
			}

			&:last-of-type {
				margin-right: auto;
			}

		}
	}
}



@media (max-width: 767px) {
	.blog-feed-box-wrapper {
		display: block;

		& > a {
			width: 100%;

			&:first-of-type {
				margin-left: auto;
			}

			&:last-of-type {
				margin-right: auto;
			}

		}
	}
}