.careers-listing {
  .main-sec {
    margin: 115px 0 0;
    @media (max-width: 1200px) {
      margin: 60px 0 0;
    }
    @media (max-width: 992px) {
      margin: 40px 0 0;
    }

    .container {
      position: relative;
      > div {
        float: none;
      }
    }
    .main-sec-desc {
      padding: 0 50px 0 20px;
      width: 400px;
      h4 {
        margin: 50px 0 55px;
        font-size: 30px;
        line-height: 41px;
      }
      p {
        font-size: 18px;
        line-height: 29px;
        margin-bottom: 140px;
      }
      @media (max-width: 1200px) {
        width: 550px;
        padding: 0 70px 0 20px;
        h4 {
          margin: 20px 0 15px;
          font-size: 26px;
          line-height: 36px;
        }
        p {
          font-size: 16px;
          line-height: 25px;
          margin-bottom: 140px;
        }
      }
      @media (max-width: 992px) {
        width: 380px;
        padding: 0 20px;
        h4 {
          margin: 5px 0 15px;
          font-size: 26px;
          line-height: 36px;
        }
        p {
          font-size: 16px;
          line-height: 25px;
          margin-bottom: 80px;
        }
      }
      @media (max-width: 767px) {
        width: 100%;
        padding: 0 20px;
        h4 {
          margin: 0 0 15px;
          font-size: 26px;
          line-height: 36px;
        }
        p {
          font-size: 16px;
          line-height: 25px;
          margin-bottom: 220px;
        }
      }
      @media (max-width: 460px) {
        p {
          margin-bottom: 20px;
        }
      }
    }
    .main-sec-1-photo {
      position: absolute;
      right: 390px;
      top: 0;
      img{
        width: 290px;
        height: 195px;
      }
      @media (max-width: 1200px) {
        right: 300px;
        img {
          width: 200px !important;
          height: auto;
        }
      }
      @media (max-width: 992px) {
        right: 240px;
        img {
          width: 150px !important;
          height: auto;
        }
      }
      @media (max-width: 767px) {
        right: 10%;
        bottom: 30px;
        top: auto;
        img {
          width: 230px !important;
          height: auto;
        }
      }
      @media (max-width: 460px) {
        display: block;
        position: static;
        width: 100%;
        text-align: center;
        img {
          margin: auto auto;
          width: 100%;
          margin-bottom: 20px;
        }
      }
    }
    .main-sec-2-photo {
      position: absolute;
      right: 390px;
      top: 215px;
      img {
        width: 290px;
        height: 195px;
      }
      @media (max-width: 1200px) {
        right: 300px;
        top: 154px;
        img {
          width: 200px !important;
          height: auto;
        }
      }
      @media (max-width: 992px) {
        right: 240px;
        top: 120px;
        img {
          width: 150px !important;
          height: auto;
        }
      }
      @media (max-width: 767px) {
        display: none;
      }
    }
    .main-sec-3-photo {
      position: absolute;
      right: 0;
      top: 0;
      img {
        width: 375px;
        height: 410px;
      }
      @media (max-width: 1200px) {
        right: 20px;
        img {
          width: 260px !important;
          height: auto;
        }
      }
      @media (max-width: 992px) {
        right: 20px;
        img {
          width: 200px !important;
          height: auto;
        }
      }
      @media (max-width: 767px) {
        left: 10%;
        bottom: 30px;
        top: auto;
        img {
          width: 150px !important;
          height: auto;
        }
      }
      @media (max-width: 460px) {
        display: none;
      }
    }

  }
  .photo-sec {
    // height: 536px;
    position: relative;
    background: url('//cdn2.hubspot.net/hubfs/489537/Prologix%20ClickRay/assets/images/photo-sec.png') no-repeat left center #f4f4f4;
    background-size: auto 100%;
    @media (max-width: 992px) {
      background: #f4f4f4;
    }
    .container {
      > div {
        > div {
          width: 500px;
          float: right;
          padding: 120px 80px 110px;
          background: #f4f4f4;
          @media (max-width: 1200px) {
            padding: 80px 50px 70px;
          }
          @media (max-width: 1000px) {
            padding: 50px 20px 40px;
          }
          @media (max-width: 992px) {
            width: 100%;
          }
          h4 {
            margin: 0;
            font-size: 30px;
            line-height: 41px;
            margin-bottom: 40px;
            @media (max-width: 992px) {
              text-align: center;
            }
          }
          p {
            font-size: 18px;
            line-height: 29px;
            @media (max-width: 992px) {
              text-align: center;
            }
          }
        }
      }
    }
  }
  .quotes-sec {
    background: #608f3d;
    padding: 50px 20px 45px;
    color: #fff;
    text-align: center;
    @media (max-width: 1024px) {
      padding: 50px 40px 45px;
    }
    @media (max-width: 767px) {
      padding: 30px 50px 35px;
    }

    .container {
      padding: 0 20px;
      @media (max-width: 767px) {
        padding: 0;
      }
      > div {
        float: none;
        h3 {
          color: #fff;
          text-align: center;
          font-size: 40px;
          line-height: 40px;
          margin-bottom: 80px;
          span {
            color: #fff;
            letter-spacing: 2px;
          }
          @media (max-width: 767px) {
            margin-bottom: 40px;
          }
        }
        p {
          text-align: left;
          font-size: 18px;
          line-height: 18px;
          margin: 0;
          margin-bottom: 75px;
          position: relative;
          font-weight: 300;
          padding: 0;
          @media (max-width: 992px) {
            padding: 0 10px;
          }
          @media (max-width: 767px) {
            padding: 0;
            margin-bottom: 35px;
          }
        }
        p:before {
          content: '';
          position: absolute;
          left: -30px;
          top: 1px;
          @media (max-width: 992px) {
            left: -20px;
          }
          @media (max-width: 767px) {
            left: -30px;
          }

          background: url('//cdn2.hubspot.net/hubfs/489537/Prologix%20ClickRay/assets/icons/tick-rounded.png');
          background-size: 100% 100%;
          height: 18px;
          width: 18px;
        }
      }
    }
  }
  .carrers-list-sec {
    padding: 35px 0 45px;
    .container {
      > div {
        float: none;
      }
    }
    h4 {
      text-align: center;
      font-size: 40px;
      line-height: 43px;
      span {
        color: #608f3d;
        letter-spacing: 2px;
      }
    }
    p {
      font-size: 18px;
      line-height: 24px;
      max-width: 500px;
      text-align: center;
      margin: 0 auto;
      margin-bottom: 65px;
    }

    .carrers-lists {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-wrap: wrap;
      padding: 0 120px;
      @media (max-width: 992px) {
        padding: 0 70px;
      }
      a.carrers-list-single {
        display: block;
        width: 250px;
        height: 90px;
        text-align: center;
        margin: 0 15px 35px;
        border: 1px solid #608f3d;
        border-radius: 3px;
        position: relative;
        cursor: pointer;
        @media (max-width: 992px) {
          width: 50%;
          max-width: 250px;
        }
        @media (max-width: 767px) {
          width: 100%;
          max-width: 250px;
        }
        p {
          position: absolute;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);
          width: 100%;
          padding: 0 25px;
          color: #608f3d;
          margin-bottom: 0;
        }
      }
      a.carrers-list-single:hover {
        background: #608f3d;
        p {
          color: #fff;
        }
      }
    }
  }
}
