.careers-single {
  .small-header-for-careers .description-header h1 span {
    color: #fff;
  }
  .careers-form .careers-form-inner .careers-form-wrap h3 {
    color: #fff;
  }
  .blog-careers {
    .blog-section {
      .post-header {
        margin: 55px 0;
      }
      .post-body {
        margin-bottom: 100px;
        @media (max-width: 992px) {
          margin-bottom: 60px;
        }
        h4 {
          font-size: 24px;
          line-height: 27px;
          margin: 0;
          margin-bottom: 30px;
          margin-top: 50px;
          @media (max-width: 992px) {
            margin-bottom: 25px;
          margin-top: 40px;
          }
        }
        p {
          font-size: 18px;
          line-height: 27px;
          margin: 0;
          margin-bottom: 30px;
          @media (max-width: 992px) {
            margin-bottom: 20px;
          }
        }
        ul {
          li {
            font-size: 18px;
            line-height: 27px;
            margin-bottom: 30px;
            @media (max-width: 992px) {
              margin-bottom: 15px;
            }
          }
        }
      }
    }
  }
}
