.case-study-2 {
    #ajax-container div.case-studies, #ajax-container nav {
    transition: opacity 1s ease-in-out;
}
    section.free-quote {
        .container {
            max-width: 1170px;
            padding-left: 0;
            .inner-container {
                max-width: none;
                padding: 0 10px 0 25px;
            }
        }
    }
    .case-study-body {
        margin-left: 13px;
        @media (max-width: 767px) {
            margin-left: 0;
        }
    }
    .listing-blog {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        h2 {
            margin: 75px auto 10px;
            font-weight: 400;
            color: hubl("$main_font_color");
            text-transform: none;
            span {
                color: hubl("$cta_background");
                letter-spacing: 3px;
            }
        }
    }
    .body-container-wrapper {
        background-color: #fbfbfb;
        margin-top: 0px;
    }
    .case-study-container .row-fluid-wrapper > .row-fluid {
        display: flex;
        @media (max-width: 767px) {
            display: block;
        }
    }
    .listing-blog .pagination {
        padding-left: 10px;
        width: 100%;
        cursor: auto;
        .disabled {
            display: none;
        }
        li {
            display: inline-block;
            background-color: #fff;
            border-radius: 4px;
            a {
                border-radius: 4px;
                overflow: hidden;
                color: hubl("$main_font_color");
                display: block;
                line-height: 22px;
                border: solid 1px #ebebeb;
                height: 27px;
                width: 24px;
                text-align: center;
                font-size: 16px;
                overflow: hidden;
                &:hover {
                    background-color: hubl('$cta_background');
                    border: solid 1px hubl('$cta_background');
                    color: #fff;
                }
            }
            &.active {
                a {
                    background-color: hubl('$cta_background');
                    border: solid 1px hubl('$cta_background');
                    color: #fff;
                }
            }
        }
    }
    nav.clearfix {
        width: 100%;
        margin-top: 10px;
        margin-bottom: 60px;
    }
    .case-studies {
        margin: 13px 9px;
        width: 360px;
        @media (max-width: 380px) {
            width: 100%;
        }
    }
    figure.case-study {
        // margin: 0;
        // overflow: hidden;
        // border-radius: 10px;
        // height: 360px;
        // width: 360px;
        // transition: 0.5s all;
        // @media (max-width: 380px) {
        //     width: 100%;
        // }
        // &:hover {
        //     box-shadow: 0 3px 15px 0 rgba(0, 0, 0, .1);
        // }
        // &:hover .company-logo {
        //     height: 215px;
        // }
        // &:hover .company-logo img {
        //     max-width: 180px;
        //     max-height: 60px;
        // }
        // .feature-image {
        //     background-size: cover;
        //     width: 100%;
        //     height: 215px;
        //     position: relative;
        // }
        // .company-logo {
        //     transition: all 0.5s;
        //     height: 60px;
        //     width: 100%;
        //     background-color: hubl_rgba("$first_color", 0.65);
        //     position: absolute;
        //     bottom: 0;
        //     img {
        //         transition: all 0.5s;
        //         position: absolute;
        //         max-width: 105px;
        //         max-height: 40px;
        //         display: block;
        //         top: 50%;
        //         left: 50%;
        //         transform: translate(-50%, -50%);
        //     }
        // }
        // .description {
        //     height: 145px;
        //     width: 100%;
        //     padding: 20px;
        //     background-color: #fff;
        //     p {
        //         height: 105px;
        //         overflow: hidden;
        //         text-overflow: ellipsis;
        //         margin: 0;
        //         font-size: 18px;
        //         color: hubl("$main_font_color");
        //         font-weight: 300;
        //     }
        // }

        // New case study
        text-align: center;
        border: 1px solid #eeeeee;
        padding: 25px 40px 25px;
        margin: 0;
        max-width: 360px;
        h3.case-study-title {
            font-size: 28px;
            line-height: 32px;
            margin: 0;
            margin-bottom: 26px;
        }
        p.case-study-description {
            font-size: 16px;
            line-height: 26px;
            margin: 0;
            margin-bottom: 7px;
        }
        img.case-study-image {
            margin: 20px 0 0;
        }
        a.case-study-button {
            display: block;
            background: #608f3d;
            color: #ffffff;
            padding: 10px 0;
            -webkit-border-radius: 5px;
            -moz-border-radius: 5px;
            border-radius: 5px;
            font-weight: 300;
            font-size: 18px;
            width: 230px;
            text-transform: uppercase;
            border: 2px solid #608f3d;
            margin: 0 auto;
            -webkit-transition: all .2s linear;
            -o-transition: all .2s linear;
            -moz-transition: all .2s linear;
            transition: all .2s linear;
        }
        a.case-study-button:hover {
            background: #ffffff;
            color: #608f3d;
            border: 2px solid #608f3d;
            cursor: pointer;
        }



    }
    section.hero-banner.huge {
        height: 500px;
    }
    .topic-listing {
        margin: 30px 0 60px;
        width: 100%;
        display: flex;
        align-items: flex-end;
        justify-content: center;
        flex-wrap: wrap;
    }
    .filter-single {
        margin-top: 20px;
        width: 150px;
        position: relative;
        border-bottom: 1px solid #e1e1e1;
        transition: 1s;
        img {
            opacity: 0.5;
            display: block;
            margin: 0 auto;
            transition: 0.3s;
            // height: 40px;
        }
        span {
            margin: 12px 0 9px;
            font-size: 16px;
            text-transform: uppercase;
            color: #e1e1e1;
            text-align: center;
            display: block;
            transition: 0.3s;
        }
        &.active {
            border-bottom: 1px solid #608f3d;
            &:before {
                font-size: 25px;
                position: absolute;
                bottom: -16px;
                left: 50%;
                transform: translateX(-50%);
                content: "•";
                color: #608f3d;
            }
            img {
                opacity: 1;
            }
            span {
                color: $secondaryTextColor;
            }
        }
        &:hover {
            border-bottom: 1px solid #608f3d;
            img {
                opacity: 1;
            }
            span {
                color: $secondaryTextColor;
            }
        }
    }
}
