.separator {
    padding: 20px 10px;
    .cta_button {
      width: 180px;
      padding: 12px 0 !important;
      margin-top: 14px;
      @media (max-width: 992px) {
        width: 160px;
      }
      @media (max-width: 767px) {
        width: 190px;
        float: none !important;
        margin: 0 auto;
        text-align: center;
      }
    }
  }
.education {
  .resources-slides-wrapper {
    height: 700px;
    .resources-slide .slide-img {
      height: 700px;
    }
    @media (max-width: 767px) {
      height: 500px;
      .resources-slide .slide-img {
        height: 500px;
      }
      .slick-prev, .slick-next {
          top: 41%;
      }
      .slide-content {
        top: 40%;
        padding: 0 35px;
        h2 {
          font-size: 32px;
          line-height: 34px;
          margin-top: 30px;
          @media (max-width: 600px) {
            margin-top: 40px;
          }
        }
        p {
          font-size: 20px;
          line-height: 26px;
        }
      }
      .slick-arrow.slick-prev {
          left: 10px;
      }
      .slick-arrow.slick-next {
          right: 10px;
      }
      .slick-arrow.slick-prev:before {
        width: 20px;
      }
      .slick-arrow.slick-next:before {
        width: 20px;
      }
    }
  }
  .separator--contact {
    padding: 90px 0 80px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
  }
  .resource {
    margin-top: 60px;
    padding-right: 20px;
    @media screen and (max-width: 600px) {
      text-align: center;
      .resource__effects-wrapper {
        margin: 0 auto;
      }
      .resource__details {
        margin-top: 40px;
        .resource__title {
          margin: 0 auto;
        }
        .resource__description {
          padding: 0;
          margin-bottom: 30px;
        }
        .resource__button {
          margin: 0 auto;
        }
      }
    }
    .resource__image-container {
      flex-basis: auto;
      min-width: 200px;
      @media (max-width: 992px) {
        min-width: 200px;
      }
    }
    .resource__details {
      flex-basis: auto;
      padding-left: 20px;
    }
  }
  .resource__effects-wrapper {
    box-shadow: 6px 6px 8px rgba(0, 0, 0, 0.3);
    background: #fff;
  }
  .resource-categories__list {
    margin-top: 60px;
    margin-bottom: 10px;
  }
  .resource__container {
    padding-top: 0;
    padding-bottom: 70px;
  }
  .resource__description {
    margin-top: 20px;
  }
  .footer-info {
    // .hs-button {
    //   font-size: 14px !important;
    //   margin-top: 35px;
    //   padding: 7px 0 !important;
    //   width: 138px;
    // }
  }
}
