.feature-mocup {

	&__box-container {
		width: 33%;
		float: left;
	}

	&__iphone2-container {
		width: 34%;
		float: left;
	}

	&__box {
		display: flex;
		align-items: center;
		justify-content: center;
		margin-left: auto;
		margin-right: auto;
		margin-bottom: 40px;
		max-width: 400px;
	}

	&__content {
		width: 80%;

		h3 {
			color: #fff;
			font-size: 20px;
			font-weight: 600;
			text-transform: uppercase;
			margin-bottom: 1px;
		}

		p {
			color: #fff;
			font-size: 16px;
			margin-top: 0;
		}

		&--left {
			padding-right: 30px;
			padding-left: 15px;
			@media (max-width: 991px) {
				order: 2;
				text-align: left;
			}
		}

		&--right {
			padding-left: 30px;
			padding-right: 15px;
		}
	}

	&__icon {
		width: 20%;
		max-width: 80px;
		height: auto;
		max-height: 80px;
	}

	&__iphone2-container {
		position: relative;
		display: flex;
    	align-items: center;
    	justify-content: center;
    	min-height: 530px;
	}

	&__iphone2-screen-container {
		position: absolute;
		top: 63px;
		left: 0;
		right: 0;
		margin: auto;
		width: 206px;
		height: 347px;
		overflow: hidden;
	}

	&__iphone2-screen {
		width: 100%;
	}
}



@media (max-width : 991px) {
    .feature-mocup {

		&__box-container {
			width: 100%;
		}

		&__iphone2-container {
			width: 100%;
			min-height: 0;
		}
	}
}


// @media only screen and (max-width : 480px) {
// 	.feature-mocup {

// 		&__iphone2-container {
// 			display: none;	
// 		}
// 	}
// }
