.hero-landing {
    height: 600px;
    //margin-top: 10px;
    position: relative;
    .opacity-bg {
        background: rgba(0, 0, 0, 0.08);
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
    }
    .container {
        position: relative;
        top: 50%;
        -webkit-transform: translateY(-50%);
        -moz-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
        -o-transform: translateY(-50%);
        transform: translateY(-50%);
        display: -webkit-box;
        display: -webkit-flex;
        display: -moz-box;
        display: -ms-flexbox;
        display: flex;
        flex-wrap: nowrap;
        @media(max-width: 767px) {
            flex-wrap: wrap;
        }
        .hero-banner-wrap {
            z-index: 1;
            text-align: left;
            -webkit-box-flex: 1.2;
            -webkit-flex-grow: 1.2;
            -moz-box-flex: 1.2;
            -ms-flex-positive: 1.2;
            flex-grow: 1.2;
            max-width: 490px;
            margin-left: 80px;
            //width: 60%;
            margin-right: 20px;
            position: relative;
            @media (max-width: 992px) {
                margin: 0 40px;
            }
            @media (max-width: 767px) {
                width: 100%;
                margin: 0 40px;
            }
            h1 {
                text-transform: none;
                text-align: left;
                font-weight: 300;
                color: #fff;
                font-size: 50px;
                margin-top: 100px;
                margin-bottom: 40px;
                @media (max-width: 766px) {
                    margin: 20px 0;
                }
                span {
                    color: $mainColor;
                }
            }
            h2 {
                font-size: 30px;
                line-height: 125%;
                padding: 15px 0;
                font-weight: 200;
                color: #fff;
                text-transform: none;
                text-align: left;
            }
            p {
                color: #fff;
                &.desc {
                    font-size: 23px;
                    line-height: 26px;
                    font-weight: 300;
                    color: #FFF;
                }
                &.desc-bolder {
                    font-size: 26px;
                    font-weight: 300;
                    color: #fff;
                    span {
                        font-weight: 500;
                        color: hubl("$cta_background");
                    }
                }
                font-size: 18px;
                line-height: 24px;
                font-weight: 200;
                max-width: 600px;
                color: #fff;
                margin-bottom: 40px;
            }
            ul li {
                list-style-type: none;
                float: left;
                text-align: center;
                margin-right: 10px;
            }
        }
    }
    .form-placeholder {
        margin-bottom: 20px;
        margin-left: auto;
        -webkit-box-flex: 0.8;
        -webkit-flex-grow: 0.8;
        -moz-box-flex: 0.8;
        -ms-flex-positive: 0.8;
        flex-grow: 0.8;
        max-width: 430px;
        .hero-banner-form {
            z-index: 1;
            -webkit-border-radius: 5px;
            -moz-border-radius: 5px;
            border-radius: 5px;
            background-color: rgba(255, 255, 255, 0.8);
            padding: 0 30px;
            .hs-error-msgs {
                list-style-type: none;
                margin-top: 5px;
                label {
                    font-size: 14px;
                }
            }
            h3 {
                font-family: hubl("$font");
                font-weight: 600;
                font-size: 30px;
                line-height: 40px;
                color: hubl("$main_font_color");
                text-align: center;
                padding-top: 20px;
                position: relative;
                span {
                    color: hubl("$cta_background");
                    margin-left: 2px;
                    position: relative;
                    letter-spacing: 3px;
                }
            }
            .hs-form-field {
                margin-bottom: 20px;
                -webkit-box-shadow: none;
                -moz-box-shadow: none;
                box-shadow: none;
                color: hubl("$main_font_color");
                .hs-form-required {
                    display: none;
                }
                input {
                    border: none;
                    -webkit-border-radius: 4px;
                    -moz-border-radius: 4px;
                    border-radius: 4px;
                    background-color: #ffffff;
                }
                .hs-input {
                    font-size: 18px;
                    font-family: hubl("$font");
                    font-weight: 200;
                    height: 55px;
                    border: none;
                    padding-left: 13px;
                }
            }
            .hs_submit {
                position: relative;
                &:after {
                    content: url('//cdn2.hubspot.net/hubfs/685080/IMG-TurboSodium/Sodium%20v2/landing%20hero/hero-arrow.png');
                    height: 114px;
                    width: 107px;
                    position: absolute;
                    top: -90px;
                    left: -207px;
                    //right: 70px;
                    //margin-top: -15px;
                    @media (max-width: 766px) {
                        display: none;
                    }
                }
            }
            .hs-button.primary.large {
                @extend .cta-primary;
                min-height: 27px;
                min-width: 134px;
                width: 100%;
                margin-bottom: 20px;
            }
        }
    }
}
