.hero-banner {
    margin-top: 70px;
    display: flex;
    align-items: center;
    text-align: center;
    height: 500px;
    width: 100%;
    background-size: cover;
    position: relative;
    background-position: center top;
    background-repeat: no-repeat;
    z-index: 0;
    margin-bottom: 33px;
    .hero-banner-wrap {
        z-index: 2;
        width: 100%;
        margin: 0 auto;
        position: relative;
        h1 {
            color: #fff;
            font-weight: 300;
            font-size: 58px;
            padding: 0 20px;
            @media(max-width: 767px) {
                font-size: 40px;
            }
            span {
                color: hubl("$cta_background");
                font-weight: 600;
            }
        }
        h2 {
            padding: 0 10px;
            font-size: 23px;
            font-weight: 300;
            color: #fff;
            text-transform: capitalize;
            text-align: center;
            padding: 0 20px;
        }

        &__search-wrapper {
            position: relative;
            margin: auto;
            max-width: 680px;
            padding: 0 15px;
        }
        
        &__search-input {
            padding: 6px 45px 6px 15px;
            border-radius: 5px;
            border: 0;
            opacity: .85;
        }
        
        &__search-icon, &__reset {
            position: absolute;
            right: 30px;
            top: 50%;
            transform: translateY(-50%);
            transition: all .3s linear;
        }
        
        &__search-icon {
            opacity: 1;
        }
        
        &__reset {
            opacity: 0;

            &.visible {
                cursor: pointer;
            }
        }
        
        &__search-icon, &__reset {

            &.visible {
                opacity: 1;
            }

            &.hidden {
                opacity: 0;
            }

        }

    }

    .mask {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: #000;
        opacity: .3;
        z-index: 1;
    }
}
