.landing-event-plan{
	background-position: center center;
	background-size: cover !important;
	width: 100%;
	height: auto;
	padding-top: 80px;
	overflow: visible;
	display: flex;
	  justify-content: center;
	.event-plan{
		position: relative;
		margin-top: 20px;
		// position: relative;
		// left:50%;
		bottom: 0;
		// transform: translateX(-50%);
		background: hubl("$first_color");
		width: 65%;
		border-top-left-radius: 10px;
		border-top-right-radius: 10px;
    	@media only screen and (max-width : 768px) {
                width: 95%;
    	}
    	@media only screen and (max-width : 1180px) {
                width: 75%;
    	}

    	.header-event {
    		position: absolute;
    		top: -70px;
    		left: 0;
    		width: 100%;
    		text-align: center;
    		color: #fff;
    		font-family: hubl("$font");
    		font-size: 36px;
    		font-weight: 200;
    		margin: 0;
    		@media only screen and (max-width : 580px) {
	              font-size: 28px;
	              top: -60px;
	    	}
    	}

		.title-event-wrap{
			height: 72px;
			display: flex;
			justify-content: center;
			color: #fff;
			font-size: 31px;
			font-weight: 200;
			line-height: 72px;
			@media only screen and (max-width : 580px) {
	              font-size: 26px;
	    	}
	    	@media only screen and (max-width : 433px) {
	              font-size: 17px;
	    	}
	    	.date-event {
	    		display: block;
				width: 18%;
				margin:0;
				padding-left: 30px;
				@media (max-width: 767px) {
					font-size: 24px;
				}
				@media only screen and (max-width : 580px) {
				  width: 25%;
	              padding-left: 10px;
	              font-size: 22px;
	    		}
	    	}

			.time-event{
				display: block;
				width: 23%;
				margin:0;
				padding-left: 30px;
				@media (max-width: 767px) {
					font-size: 24px;
				}
				@media only screen and (max-width : 580px) {
				  width: 30%;
	              padding-left: 0;
	              padding-right: 20px;
	              font-size: 22px;
	              text-align: right;
	    		}

			}
			.title-event{
				display: block;
				width: 45%;
				margin:0;
				padding-left: 30px;
				@media (max-width: 767px) {
					font-size: 24px;
				}
				@media only screen and (max-width : 580px) {
					width: 45%;
          			padding-left: 15px;
          			font-size: 22px;
          			text-align: center;
    			}
			}
			.details-event {
				display: block;
				width: 14%;
				margin:0;
				padding-left: 0;
				text-align: center;
				@media (max-width: 991px) {
					visibility: hidden;
				}
				@media only screen and (max-width : 580px) {
          			display: none;
    			}
			}
		}
		.content-event{
			span.hs_cos_wrapper{
				height: auto;
				background-color: #ffc400;
				div.hs_cos_wrapper {
					display: block;
					width: 100%;
					height: 79px;
					margin-top: 1px;
					&:nth-child(even) {
					    background: #cccccc;
					}
					&:nth-child(odd) {
					    background: #959595;
					}
				}
			}
		}
	}
}





