.past-event-gallery{
    .event-gallery-holder{
        	width: 100%;   	
    	.flex-row{
    		display: flex;
    		justify-content: center;
    		width: 100%;
    		@media only screen and (max-width : 767px) {
              display: block;
    		}
    		
	    	.item-wrap{
				overflow: hidden;
				@media only screen and (max-width : 767px) {
	              width: 100%;
	              //margin-top: 10px;
	    		}
				.item{
					background-size: cover;
					overflow: hidden;
					transition: all 0.6s ease;
					background-position: center center;
					&:hover{
						transform: scale(1.03, 1.03);
						&:after{
							opacity: 0;
						}
					}
					&:after{
						content: "";
						display: block;
						width: 100%;
						height: 100%;
						background-color: #000;
						opacity: 0.2;
						transition: all 0.6s ease;

					}

				}
		        .item-1{
		        	width: 600px;
					height: 416px;
					@media only screen and (max-width : 767px) {
		              width: 100%;
		    		}

					
		        }
		        .item-2{
		        	width: 570px;
					height: 416px;	
					@media only screen and (max-width : 767px) {
		              width: 100%;
		    		}
    		
					
		        }
		        .item-3{
		        	width: 500px;
					height: 366px;
					@media only screen and (max-width : 767px) {
		              width: 100%;
		    		}

					
		        }
		        .item-4{   
		        	width: 670px;  	
					height: 366px;
					@media only screen and (max-width : 767px) {
		              width: 100%;
		    		}

				
		        }
		    }
		}
	}
    .view-more{
    	text-align: center;
		margin: 67px 0px 62px 0px;
    } 
}



