figure.people {
	width: 250px;
	margin: 25px 37px;
	.image {
    width: 250px;
    height: 250px;
    background-size: cover;
    background-color: white;
	background-position: center center;
	border-radius: 50%;
    overflow: hidden;
    	position: relative;
	}
	.image:hover .people-hover {
    		clip: rect(0px,251px,251px,0px);
    }
	.name-and-surname {
		font-size: 21px;
		color: hubl("$cta_background");
		font-weight: 600;
		text-align: center;
		text-transform: uppercase;
		margin: 20px 0 8px 0;
		line-height: 1;
	}
	.job {
    font-size: 16px;
    color: hubl("$main_font_color");
    text-align: center;
    margin: 0;
	}
	.people-hover {
		box-shadow: inset 0 0 0 251px hubl("$cta_background");
		display: inline-block;
		width: 250px;
		transition: all 0.3s;
		background-color: hubl("$cta_background");
		height: 249.9px;
    	transition: 0.5s;
    	position: absolute;
        clip: rect(250px, 250px, 250px, 0px);
		a {
			display: inline-block;
    		margin-top: 100px;
		}
		.social-icons {
			text-align: center;
		}
		.icon-circle {
			margin-top: 80px;
			text-align: center;
			width: 50px;
			height: 50px;
			background-color: white;
			border-radius: 50%;
			display: inline-block;
			margin: 0 3px;
	    	i {
    			text-align: center;
    			color: hubl("$cta_background");
    			font-size: 25px;
    			display: block;
    			line-height: 50px;
			}
		}
	}
}
.people-wrapper > .hs_cos_wrapper_widget_container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

figure.people-modify-row {
    width: 190px;
    margin: 25px 5px;
    // background: red;
    .image {
        width: 160px;
        height: 160px;
        background-size: cover;
        // background-color: red;
        background-position: center center;
        border-radius: 50%;
        overflow: hidden;
        position: relative;
        margin: 0 auto;
    }
    .name-and-surname {
        font-size: 20px;
        margin: 16px 0 5px 0;
    }
    .image:hover .people-hover {
        clip: rect(0px,161px,161px,0px);
    }
    .people-hover {
        box-shadow: inset 0 0 0 161px hubl("$cta_background");
        width: 160px;
        transition: all 0.3s;
        height: 159.9px;
        transition: 0.5s;
        position: absolute;
        clip: rect(160px, 160px, 160px, 0px);
        a {
            margin-top: 55px;
        }
        .icon-circle {
            margin-top: 30px;
            text-align: center;
            width: 50px;
            height: 50px;
            background-color: white;
            border-radius: 50%;
            display: inline-block;
            margin: 0 3px;
        }
    }
}

