.separator {
	background: white;
	padding: 20px 0;
	h4 {
		color: #333;
		font-weight: 300;
		text-transform: uppercase;
		font-size: 34px;
	}

	&--yellow {
		background: hubl("$first_color");
		h4 {
			color: white;
		}
	}
	
	&--contact {
		position: relative;
		padding: 40px 0 50px;
		&__mask {
			@extend .mask;
		}
		h4 {
			color: white;
			text-align: center;
			position: relative;
			z-index: 2;
			font-weight: 400;
		}
		a {
			position: relative;
			z-index: 2;
		}
	}
}