.services{
	overflow: hidden;
	margin-top:70px;
   .box-services{
		text-align: center;
		.widget-type-rich_text a{
			   font-weight: 400 !important;
		}
		.ico{
			width:120px;
			height: 120px;
			border-radius: 50%;
			text-align: center;
			margin:auto;
			border:solid 2px hubl("$cta_background");
			i{
				color: hubl("$cta_background");
				font-size: 60px;
				line-height: 116px;
				}
			}
		h3{
			font-size: 20px;
			font-weight: normal;
			margin:20px 0px;
			color: hubl("$cta_background");
		}
		.desc{
			font-size: 16px;
			font-weight: 300;
			margin-bottom: 85px;
			padding: 0px 15px;
		}
	}
	.box-services-horizontal{
		display: flex;
	    text-align: initial;
	    h3 {
	    	padding: 0 15px;
	    	line-height: 40px;
	    	margin-bottom: 10px;
	    }
		.feature-image {
			min-width: 80px;
		}
		> div {

		}
		@media (max-width: 767px) {
			flex-direction: column;
			align-items: center;
			.desc-outer {
				text-align: center !important;
			}
		}
	}
}
.services.services-horizontal {
	padding-bottom: 70px;
}
.services.services-horizontal .widget-type-widget_container > span > div {
	width: 50%;
}
.services.services-horizontal .widget-type-widget_container > span > div h3 {
    text-transform: none;
    margin: 15px 0;
}