.slider-rec-posts {
		margin-top: 30px;
		margin-bottom: 30px;

		.slick-dots {
			bottom: -40px;

			li {

				button {

					&:before {
						font-size: 40px;
						color: hubl("$cta_background");
						transition: opacity .3s linear;
					}
				}
			}
		}

	&__slide {
		padding: 15px;

		a {
			transition: all .3s linear;

			&:hover {

				img {
					box-shadow: 0px 0px 10px 3px rgba(100, 100, 100, 0.2);
				}	
			}
		}

		img {
			transition: all .3s linear;
			margin: auto;
		}
	}
}