.small-header-for-careers{
	background-size:cover;
	height: 500px;
	margin-top:70px;
	position:relative;
	.mask{
		top:0;
		left:0;
		width:100%;
		height:100%;
		position:absolute;
		background-color:rgba(0,0,0,0.30);
	}
	.description-header{
		position:absolute;
		top:50%;
		left:50%;
		transform:translate(-50%,-50%);
		text-align: center;
		width: 90%;
		h1{
			font-weight:300!important;
			z-index:2;
			font-size: 58px;
			width:100%;
			font-weight:normal;
			margin:0;
	        color: #fff;
	        @media only screen and (max-width : 480px){
	        	font-size: 48px;
	        }
	        span{
	        	font-weight:600!important;
	        	color:hubl("$cta_hover_color");
	        	font-size:58px;
	        	@media only screen and (max-width : 480px){
	        		font-size: 48px;
	        	}
	        }
	    }
	    p{
			color: #fff;
			font-size: 23px;
			i{
				font-size: 23px;
				color:hubl("$cta_hover_color");
				padding-right: 15px;
			}
	    }
	    .hidden-element{
	    	display: none;
	    }

	}
}
