	// TESTIMONIAL SLIDER -- START --
	.testimonials-quotes {
		min-height: 575px;
		background-color: #f7f7f7;
		position: relative;
		background-size: cover;
		background-repeat: no-repeat;
		background-position: center;
		.slick-container {
			margin: 0 auto;
			max-width: 1400px;
		}
		.testimonial-mask{
			position: absolute;
			top: 0;
			left: 0;
			height: 100%;
			width: 100%;
			background-color: rgba(0,0,0,0.14);
		}
		.slick-slider {
			margin: 0;
		}
		h2 {
			font-size: 40px;
			color: #fff;
			text-transform: none;
			font-weight: 300;
			margin-top: 70px;
			z-index:99;
			position: relative;
			span {
				color: hubl("$cta_background");
				letter-spacing: 3px;
			}
		}
		.slick-prev {
			width: 30px;
			height: 60px;
			left: 0;
			/*&:before {
				width: 30px;
				height: 60px;
				content: url('//cdn2.hubspot.net/hubfs/685080/IMG-TurboSodium/icons/arrow-left.png');
			}	*/		
			@media screen and (max-width: 1400px){
				left: 50px;
			}
		}
		.slick-next {
			width: 30px;
			height: 60px;
			right: 0;
			/*&:before {
				width: 30px;
				height: 60px;
				content: url('//cdn2.hubspot.net/hubfs/685080/IMG-TurboSodium/icons/arrow-right.png');
			}*/
			@media screen and (max-width: 1400px){
				right: 50px;
			}
		}
		.slick-testimonial-quotes .slick-track {
			height: 390px;
			.hs_cos_wrapper {
				.testimonial-box {
				top: 50%;
				transform: translateY(-50%);
				position: relative;
				text-align: center;
				max-width: 360px;
				min-width: 240px;
				transition: all 0.3s linear;
				margin: 0 auto;
				@media (max-width: 400px) {
					margin: 0 15px;
					padding: 0 10px;
				}
				.testimonial-quote {
					background-color: #fff;
					border-radius: 3px;
					padding: 40px 25px;
					font-size: 13.27px;
					line-height: 17.7px;
					color: hubl("$main_font_color");
					position: relative;
					box-shadow: 6px 6px hubl("$cta_background");
					&:before {
						content: '"';
						position: absolute;
						font-size: 150px;
						top: -25px;
						color: hubl("$cta_background");
						left: 0;
						margin-left: -17px;
						margin-top: -12px;
						transform: rotate(180deg);
					}					
					&:after {
						content:'';
						position: absolute;
						bottom:-18px;
						left: 50%;
						margin-left: -13px;
						width: 0;
						height: 0;
						border-left: 13px solid transparent;
						border-right: 13px solid transparent;
						border-top: 19px solid #fff;
						filter: drop-shadow(8px 1px hubl("$cta_background"));
					}
				}
				img {
					margin: 0 auto;
					height: 66px;
					width: 66px;
					border-radius: 50%;
					border: 3px solid hubl("$cta_background");
					float: left;
				}
				.person {
					margin-top: 30px;
					padding: 0 90px;
					display: flex;
					h4 {
						font-size: 18px;
						margin: 0;
						color: #fff;
						padding-top: 10px;
					}
					p {
						font-size: 14.66px;
						margin: 0;
						margin-top: 5px;
						color: #fff;
					}
					img {
						// flex-basis: 66px;
						min-width: 66px;
					}
				}
				}
			}
/*			.slick-current + div {
				transform: scale(1.3);
			    transition: all 0.3s ease-in-out;
			    @media screen and (max-width: 1400px){
					transform: none;
			    }

			}

			.slick-current {
			    transition: all 0.3s ease-in-out;
			    @media screen and (min-width: 601px) and (max-width: 1400px) {
			    	transform: scale(1.3);
			    }
			    @media screen and (max-width: 600px){
					transform: none;
			    }
			}
			*/
			.slick-slide {
			    transition: all 0.3s ease-in-out;
			}
			.active-slide{
			    transform: scale(1.3);
			    @media (max-width: 767px) {
			    	transform: scale(1);
			    }
			}
			.no-animation{
			    transition:none!important;
			}
		}
	} 

	// TESTIMONIAL SLIDER --END--