.txt-cta-separator {
	min-height: 160px;
	.separator-content {
		display: flex;
		justify-content: space-between;
		padding: 50px 0;
		align-items: center;
		@media (max-width: 768px) {
			flex-direction: column;
			justify-content: space-around;			
		}	
		h3 {
			color: hubl("$cta_background");
			font-size: 34px;
			font-weight: 200;
			text-transform: uppercase;
			letter-spacing: 4px;
			@media (max-width: 767px) {
				text-align: center;
			}
		}
	}
	&.popup {
		#separator-popup {
			min-width: 190px;
		}
		.popover {
			position: fixed;
			left: 0;
			top: 0;
			width: 100%;
			height: 100%;
			text-align: center;
			background: rgba(255,255,255, 0.7);
			z-index: 9999;
			.video-wrapper {
				position: absolute;
				top: 50%;
				left: 50%;
				transform: translate(-50%, -50%);
				@media (max-width: 580px) {
					left: auto;
					transform: translateY(-50%);
				}
			}
			.popover-exit {
				position: absolute;
				top: 5px;
				right: 5px;
				font-size: 16px;
				color: black;
			}
		}
	}
}
.homepage.home.about-us {
	.team {
		background-color: #608f3d;
		h3 {
			color: #fff;
		}
	}
}